{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> {{ message }} </strong>
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> {{ message }} </strong>
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> {{ message }} </strong>
    </div>
{% endfor %}