<div class="col-12 mb-4">
    {{form_row(form.name)}}
</div>
<div class="col-12 col-lg-6 mb-4">
    {{form_row(form.price)}}
</div>
<div class="col-12 col-lg-6 mb-4">
    {{ form_row(form.category) }}
</div>
<div class="col-12 mb-4">
    {{form_row(form.description)}}
</div>