{% trans_default_domain 'FOSUserBundle' %}

{% extends "/layout.html.twig" %}

{% block title %}
    Title Socle luuug
{% endblock %}

{% block h1 %}
    H1 Socle luuug
{% endblock %}

{% block content %}
    <section class="contentPage contactPage">
        <div class="container">
            <h3 class="title">Mon Profil</h3>
            <p class="subtitle">Modifier mon mot de passe</p>
            <div class="col-md-6 offset-md-3 col-12">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_row(form.current_password) }}
                {{ form_row(form.plainPassword) }}
                <div class="pcenter">
                    <button class="btn" type="submit">Modifier</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}