{% trans_default_domain 'FOSUserBundle' %}
{% extends "/layout.html.twig" %}

{% block title %}
    Title Socle luuug
{% endblock %}

{% block h1 %}
    H1 Socle luuug
{% endblock %}

{% block content %}

    <section class="contentPage contactPage">
        <div class="container">
            <h3 class="title">Connexion</h3>
            <p class="subtitle">Connectez-vous</p>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-12">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                          class="fos_user_resetting_request">
                        <div>
                            <label for="username">{{ 'resetting.request.username'|trans }}</label>
                            <input type="text" id="username" name="username" required="required"/>
                        </div>
                        <div class="pcenter">
                            <button class="btn btn-success" type="submit" value="{{ 'resetting.request.submit'|trans }}">Réinitialiser le mot de passe</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}