<div id="nav">
    <ul>
        <li><a href="index.php">Accueil</a></li>
        <li><a href="actualites.php">Actualités</a></li>
        <li><a href="realisations.php">Réalisations</a></li>
        <li><a class="toggleLi" href="#">Menu 4 <i>&#8964;</i></a>
            <ul class="subNav">
                <li><a href="#">Sous-menu 1</a></li>
                <li><a href="#">Sous-menu 2</a></li>
                <li><a href="#">Sous-menu 3</a></li>
            </ul>
        </li>
        <li><a class="toggleLi" href="#">Menu 5 <i>&#8964;</i></a>
            <ul class="subNav">
                <li><a href="#">Sous-menu 1</a></li>
                <li><a href="#">Sous-menu 2</a></li>
                <li><a href="#">Sous-menu 3</a></li>
            </ul>
        </li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</div>