{% extends "/layout.html.twig" %}

{% block title %}Title Socle luuug{% endblock %}
{% block metaDescription %}meta Description Socle luuug{% endblock %}

{% block content %}

    {% include 'front/_slider.html.twig' %}

    <section class="contentPage">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sapiente optio veritatis aut
                        nam, sint reiciendis aspernatur. Natus alias ea molestiae fugit, id dolor pariatur at adipisci
                        necessitatibus earum ipsam architecto. Nam beatae dolor quaerat cupiditate, dolores. Expedita
                        facere omnis numquam saepe repellendus amet itaque quisquam alias, sapiente odio ipsum ipsa,
                        laudantium ratione commodi porro. Culpa distinctio, suscipit recusandae sapiente dicta quod quae
                        dolorem magnam possimus, ex eligendi voluptatem numquam exercitationem minima esse officiis
                        omnis porro laudantium adipisci quos non neque! Laudantium maxime sint non nemo, quisquam
                        blanditiis magni vero nulla, fugiat veniam. Et debitis ut natus amet repellendus cupiditate
                        maiores. Sit, aspernatur. Placeat atque deleniti accusamus adipisci a nulla obcaecati, aliquid
                        molestias, exercitationem. Quibusdam aperiam voluptates excepturi, et tempora adipisci
                        obcaecati? Odio voluptates sint quibusdam illum, maiores consequatur eaque ratione deserunt
                        dicta, impedit quo. Iusto laboriosam veritatis corporis quisquam, minus animi. Id nobis, tempora
                        omnis corporis ea, veniam impedit magni sapiente aliquid commodi animi modi quaerat excepturi
                        veritatis saepe eum reiciendis sed alias libero fugiat laboriosam odio vitae asperiores! Porro,
                        nam commodi. Praesentium quibusdam harum voluptatum omnis reiciendis sit sunt hic. Quam ea omnis
                        unde perferendis expedita a modi doloribus cumque cum corporis, porro eos, atque tempore,
                        laboriosam quae.</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sapiente optio veritatis aut
                        nam, sint reiciendis aspernatur. Natus alias ea molestiae fugit, id dolor pariatur at adipisci
                        necessitatibus earum ipsam architecto. Nam beatae dolor quaerat cupiditate, dolores. Expedita
                        facere omnis numquam saepe repellendus amet itaque quisquam alias, sapiente odio ipsum ipsa,
                        laudantium ratione commodi porro. Culpa distinctio, suscipit recusandae sapiente dicta quod quae
                        dolorem magnam possimus, ex eligendi voluptatem numquam exercitationem minima esse officiis
                        omnis porro laudantium adipisci quos non neque! Laudantium maxime sint non nemo, quisquam
                        blanditiis magni vero nulla, fugiat veniam. Et debitis ut natus amet repellendus cupiditate
                        maiores. Sit, aspernatur. Placeat atque deleniti accusamus adipisci a nulla obcaecati, aliquid
                        molestias, exercitationem. Quibusdam aperiam voluptates excepturi, et tempora adipisci
                        obcaecati? Odio voluptates sint quibusdam illum, maiores consequatur eaque ratione deserunt
                        dicta, impedit quo. Iusto laboriosam veritatis corporis quisquam, minus animi. Id nobis, tempora
                        omnis corporis ea, veniam impedit magni sapiente aliquid commodi animi modi quaerat excepturi
                        veritatis saepe eum reiciendis sed alias libero fugiat laboriosam odio vitae asperiores! Porro,
                        nam commodi. Praesentium quibusdam harum voluptatum omnis reiciendis sit sunt hic. Quam ea omnis
                        unde perferendis expedita a modi doloribus cumque cum corporis, porro eos, atque tempore,
                        laboriosam quae.</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}