{% extends "/layout.html.twig" %}

{% block title %}Title Socle luuug{% endblock %}
{% block metaDescription %}meta Description Socle luuug{% endblock %}

{% block content %}
    <section class="contentPage">
        <div class="container">
            <h3 class="title">Vie privée</h3>
            <div class="contentPage row">
                <div class="col-12 col-md-6">

                    <p class="titleArticle"><b>Respect de vos données personnelles</b></p><hr>
                    <p class="paragraphe">
                        Nous respectons la vie privée de toute personne qui visite ce site. Nous ne collectons pas
                        d’informations personnelles auprès de nos visiteurs sans leur consentement. Aucun script ou
                        stratagème ne sont utilisés à cet effet. Les seules informations personnelles que nous demandons
                        à nos visiteurs, sont leurs coordonnées et adresses email, qui sont fournis volontairement. En
                        aucun cas, ces informations ne sont données, échangées ou vendues à des tiers, sans l’accord et
                        le consentement des personnes concernées.<br>Vous trouverez ci-dessous notre politique en
                        matière de traitement des données personnelles. Ce texte a pour but de vous informer sur la
                        manière dont nous utilisons ces données et vous indique la façon de procéder si vous souhaitez y
                        apporter une modification.
                    </p>
                    <br><br>
                    <p class="titleArticle"><b>Nature des données recueillies</b></p><hr>
                    <p class="paragraphe">Les informations que nous recueillons proviennent :
                        <ul class="listRGPD">
                            <li>de l’enregistrement volontaire d’une adresse e-mail vous permettant de recevoir notre
                                newsletter
                            </li>
                            <li>de la saisie complète de vos coordonnées dans notre formulaire de contact</li>
                        </ul>
                    </p>

                    <p class="titleArticle"><b>Que faisons-nous de ces données ?</b></p><hr>
                    <p class="paragraphe">Les informations que vous nous communiquez ne sont jamais confiées à des
                        tiers. Selon les cas, les usages sont les suivants:</p>

                    <p class="paragraphe">Abonnement à notre newsletter : dans ce cas, votre adresse mail est
                        strictement utilisée pour l’envoi de nos mailing listes et d’annonces internes. Vous pouvez à
                        tout moment vous désabonner en cliquant sur la mention « Lien de désabonnement » qui figure sur
                        chacune de nos newsletters. En cas d’incident lors du désabonnement, vous pouvez nous faire
                        parvenir votre demande en nous contactant directement.</p>

                    <p class="paragraphe">Formulaire de contact : en vue de recevoir une réponse adaptée à votre
                        demande. Vos coordonnées ne sont jamais communiquées à des tiers.</p>

                    <p class="paragraphe">L’envoi de candidature pour postuler à une offre d'emploi : Dans ce cas les
                        données fournies ainsi que les documents envoyés sont transmis à notre service de recrutement et
                        ne sera en aucun cas transmis à un tiers. Vous pouvez nous demander la suppression de ces
                        documents en nous contactant directement.</p>

                    <p class="paragraphe">Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6
                        janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose
                        d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles le
                        concernant.<br>
                        Vous pouvez exercer ce droit par simple demande en nous contactant en justifiant de votre
                        identité.</p>



                </div>
                <div class="col-12 col-md-6">
                    <p class="titleArticle"><b>Conservation et utilisation des données personnelles</b></p><hr>
                    <p class="paragraphe">Nous nous engageons à ce que la collecte et le traitement de vos données,
                        effectués à partir de notre site Internet, soient conformes au règlement général sur la
                        protection des données (RGPD) et à la loi Informatique et Libertés.</p>
                    <p class="paragraphe">Sans action de votre part concernant la suppressions de vos informations, nous
                        nous engageons à les supprimer automatiquement dans un délai de 12 mois. Ces données sont
                        accessibles uniquement par notre direction, nos équipes marketing et communication, commerciales
                        et nos ressources humaines. Aucune donnée personnelle telle que, nom, prénom, adresse postale ou
                        électronique ne sera retransmise ou vendue aux autres entreprises ou bien aux personnes
                        privées.</p>
                    <p class="titleArticle"><b>Utilisation des cookies</b></p><hr>
                    <p class="paragraphe">Un cookie est un petit fichier informatique qui est placé sur votre ordinateur
                        tablette ou smartphone, et ayant pour vocation d’améliorer l’expérience utilisateur. Il permet
                        notamment d'analyser le comportement des usagers lors de la visite d'un site internet.</p>

                    <p class="paragraphe">Par exemple, un cookie est utilisé pour conserver les préférences de
                        l’utilisateur, aider au partage de contenu, stocker des informations anonymes sur votre
                        navigation,etc.</p>

                    <p class="paragraphe">Certaines fonctionnalités de ce site comme la mesure d’audience s’appuient sur
                        les services proposés par des sites tiers comme Google Analytics.</p>

                    <p class="paragraphe">Les cookies utilisés sur notre site Internet sont là afin d’améliorer votre
                        expérience de navigation. Néanmoins, si vous le souhaitez, vous avez la possibilité de refuser
                        les cookies de notre site. Ainsi, ces cookies seront déposés sur le site uniquement si vous en
                        avez donné votre accord. Vous pouvez paramétrer ces cookies via le lien suivant :</p>

                    <a href="#" class="btn" onclick="tarteaucitron.userInterface.openPanel();">Paramétrer les
                        cookies</a><br><br><br><br>

                    <p class="titleArticle"><b>Liens externes</b></p><hr>
                    <div class="paragraphe">Nous ne sommes pas responsables de la pratique privée de quelques sites Web
                        qui placeraient un lien vers ce site. Vous devez vous renseigner sur la confidentialité et les
                        pratiques de ces sites avant de leur envoyer des informations personnelles.
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}