{% block subject %}APODEC - Réinitialisation de votre mot de passe{% endblock %}

{% block body_html %}
    {% autoescape false %}
        <h3 style="border-bottom: 1px black solid; color:#ea5340">
            Réinitialisation de votre mot de passe
        </h3>

        Bonjour {{ user.name }} {{ user.firstname }} !<br><br>

        Pour réinitialiser votre mot de passe, merci de cliquez sur ce lien : <br><br>
        <a style="color :#fff; font-weight :700; text-transform :uppercase; background : #ea5340; border:none;
        border-radius :30px; padding :8px 16px; font-family :sans-serif; letter-spacing :1px; text-decoration: none;"
           href="{{ confirmationUrl }}">
            Réinitialiser mon mot de passe
        </a>
        <br><br><br>
        Cordialement,<br>
        Apodec
        <br><br>
        <img src="http://apodec.devstudioluuug.com/front/img/logo-apodec.png" width="180">

    {% endautoescape %}
{% endblock %}

