/*
-----------------------------------------------------

               #          #          #
              # #        # #        # #
               #          #          #

##         ##     ##  ##     ##  ##     ##   ######
##         ##     ##  ##     ##  ##     ##  ##    ##
##         ##     ##  ##     ##  ##     ##  ##
##         ##     ##  ##     ##  ##     ##  ##   ####
##         ##     ##  ##     ##  ##     ##  ##    ##
##         ##     ##  ##     ##  ##     ##  ##    ##
########    #######    #######    #######    ######

-----------------------------------------------------
COPYRIGHT 2019 STUDIO LUUUG // SITE : NOM DU SITE
-----------------------------------------------------
*/

*, *:before, *:after{box-sizing: inherit; outline: none;}
a, a:hover, a:focus, a:active, a:visited {outline: none;}
html{text-size-adjust: 100%;box-sizing: border-box; overflow-x:hidden; width:100%;}
body{/*FONT FAMILY ICI*/ background-color:#fff;font-size:16px;color: #222; overflow-x:hidden; width:100%;}

*::selection{background:#ff0000;color:#ffffff;}
*::-moz-selection{background:#ff0000;color:#ffffff;}
*::-webkit-selection{background:#ff0000;color:#ffffff;}
*::-khtml-selection{background:#ff0000;color:#ffffff;}
*::-o-selection{background:#ff0000;color:#ffffff;}

.clear{*zoom:1;}
.clear:before, .clear:after{display: table; content : "";}
.clear:after{clear : both;}
hr.clear{height: 0;}
img {border: none;  max-width: 100%; width: 100%;  height: auto;}


header, main, footer{width: 100%;}
#loadPage{position: fixed; top:0; left:0; z-index: 9999; width: 100%; height: 100%; background-color: #999; justify-content: center; align-items: center; display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
#loadPage img{width: 260px;}

.at-mail:before{content:'@'; font-style: normal; font-weight: 900;}
.swiper-slide{display:flex;align-items:center;overflow:hidden;flex:1 0 auto;height:100%; position: relative;}
.swiper-wrapper{display:flex;flex-wrap:nowrap;height:100%;}

/**************** HEADER ****************/

header{position: fixed; top:0; left:0; z-index:99;}
#headerTop{background-color: #444; padding:0.4em; color:#fff;}
#headerBottom{background-color: #eee; padding:2em 1em;}
#logo img{/*width: auto;*/ width: 200px;}

/***************** MENU *****************/

#nav{display: flex; justify-content: flex-end; align-items: center; height: 100%;}
#nav ul{display: inline-block;}
#nav ul li{display: inline; padding:0.6em 0.2em; position: relative;}
#nav ul li a{color:#333; padding:0.6em 0.4em; transition:0.3s;}
#nav ul li a:hover{color:#ff0000;}
#nav ul li a i{font-style: normal; position: relative; top:-6px; font-weight: bold;}
#nav ul li a.active{color:#ff0000; background-color: #ddd;}

#nav ul li ul{display: none; position: absolute; bottom:0; transform: translateY(100%); left:0; padding:0.6em 0; min-width: 200px; background-color: #ccc;}
#nav ul li ul li{display: block; padding:0.2em 0;}
#nav ul li ul li a{padding:0.4em 0.8em; display: inline-block; width: 100%;}
#nav ul li ul li a:hover{background-color: #330000;}

/* MENU MOBILE */

#navBtn{background-color: #ccc; padding:0.5em; transition:0.3s; position: absolute; z-index: 9999; top:50%; transform: translateY(-50%); right:0;}
#navBtn.active{background-color: #aaa;}

#navMobile{position:fixed; top:0; left:-18px; z-index: 999; transform: translateX(-100%); overflow: hidden; width: 100%; max-width: 460px; height: 100%; background-color: #333; transition: 0.3s ease-in-out;}
#navMobile.active{transform: translateX(0);}
#navMobile ul{width: 100%; height: 100%; overflow-y: scroll; padding: 1em 0; margin-left: 18px;}
#navMobile ul li{padding:0.3em 0;}
#navMobile ul li a{color:#fff; padding:0.4em 0 0.4em 1em; transition:0.3s; display:block;}
#navMobile ul li a:hover{color:#ff0000;}
#navMobile ul li a i{font-style: normal; position: relative; top:-6px; font-weight: bold;}

#navMobile ul li ul{display: none; overflow-y: hidden; padding-left: 1em; margin-left: 0;}
#navMobile ul li ul li{}
#navMobile ul li ul li a{}
#navMobile ul li ul li a:hover{}

/**************** SLIDER ****************/

#slider{width: 100%; height: 740px; position: relative;}
.swiper-slide-home{position: relative; height: 100%;}
.swiper-slide-home .swiper-slide{-webkit-background-size: cover; background-size: cover;}

.swiper-slide-home-prev, .swiper-slide-home-next{display: block; width: 50px; height: 50px; background: #000; color:#fff; z-index: 2; position: absolute; top:50%; transform: translateY(-50%); transition: 0.3s; cursor: pointer; justify-content: center; align-items: center; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.swiper-slide-home-prev:hover, .swiper-slide-home-next:hover{background: red; color:#333;}
.swiper-slide-home-prev{left:0;}
.swiper-slide-home-next{right:0;}

.swiper-slide-home-pagination{position: absolute; bottom: 20px; left:50%; transform: translateX(-50%); z-index: 2;}
.swiper-slide-home-pagination .swiper-pagination-bullet{display: inline-block; margin:0 20px; width: 20px; height: 20px; background: #000; cursor:pointer; transition:1s; position: relative;}
.swiper-slide-home-pagination .swiper-pagination-bullet-active{background: red;}

/**************** CONTENT ***************/

.contentPage{padding:2em 0;}
.title{}
.subtitle{}
.small-title{}
.paragraphe{}
.important{}
.btn{display: inline-block; text-transform: uppercase; padding:0.5em 0.8em; background: #333; color:#fff; font-size: 14px; margin-top: 0.5em;}
.btn:hover{background: red; color:#fff;}
.small-link{}

/**************** ACUTALITES ***************/

.actu{background: #eee; padding:1em; border-right: 6px solid #fff; border-left: 6px solid #fff; margin:0.5em 0;}

.actu-view{background: #eee; padding:1em; border-right: 6px solid #fff; border-left: 6px solid #fff; margin:0.5em 0;}
.actu-view h2{margin-bottom: 1em; font-size: 20px;}
.actu-view img{margin-bottom: 1em;}

/**************** FOOTER ****************/

footer{background-color: #444;padding:0.4em; color:#fff; text-align: center;}

/****************** MQ ******************/

@media screen and (max-width: 1399px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-device-width:991px){}


@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}


/*HARI*/
#paddingTop { padding-top: 155px}
.btn-connexion { color: white} .btn-connexion:hover { color: #5eb5e0}
.warning-message ul li {color:red}
a {color:white}